/* #f9812c oranage */
/* #0464cc blue */
* {
  margin: 0;
  padding: 0;
}
html, body {
  overflow-x: hidden;
  height: 100%;
}
.background{
  box-sizing: content-box;
  width: 100%;
  min-height: 2050px;
  position: relative;
  background: linear-gradient(to right, #F08080 35%, #87CEEB 65%);
}

.inner_background{
  background: rgba(0, 0, 0, 1);
  opacity: 0.5;
}

@font-face {
  font-family: "abel";
  src: url("fonts/Abel.ttf");
}

.redColorStateHeader, .blueColorStateHeader  {
  white-space: nowrap;
  text-align: center;
}

.hex_row_blue, .hex_row_red {
  display: flex;
  margin-top: -0.6vw;
}
.hex_row_blue{
  transform: translateX(7vw) translateY(50px)
}
.hex_row_red{
  transform: translateX(-7vw) translateY(50px)
}

.hexagon_blue, .hexagon_red  {
  width: 3.7vw;
  aspect-ratio: 10/11.5;
  background-color: black;
  position: relative;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: background-color 0.3s ease;
  transform: translateY(calc(45%));
  /* this breaks hitboxes */
}

.hexagon_red.black, .hexagon_blue.black {
  background-color: black;
}
.hexagon_red.white, .hexagon_blue.white {
  background-color: white;
}

.hexagon_red.green, .hexagon_blue.green {
  background-color: green;
}

.hexagon_red.purple, .hexagon_blue.purple {
  background-color: purple;
}

.hexagon_red.yellow, .hexagon_blue.yellow {
  background-color: yellow;
}

.top_bar{
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #0464cc;
  z-index: 3;
}
.logo{
  height: 60px;
  margin: 5px;
}
.player_one_input{
  width: 15%;
  height: 35px;
  font-family: abel;
  font-size: 1.85em;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  top: 35px;
  left: 24%;
  transform: translate(-50%, -50%);
}
.player_two_input{
  width: 15%;
  height: 35px;
  font-family: abel;
  font-size: 1.85em;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  top: 35px;
  left: 40%;
  transform: translate(-50%, -50%);
}
.vs_text{
  font-family: monospace;
  font-size: 450%;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.player_three_input{
  width: 15%;
  height: 35px;
  font-family: abel;
  font-size: 1.85em;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  top: 35px;
  left: 60%;
  transform: translate(-50%, -50%);
}
.player_four_input{
  width: 15%;
  height: 35px;
  font-family: abel;
  font-size: 1.85em;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  top: 35px;
  left: 76%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1350px){
  .vs_text{
    font-size: 4vw;
  }
  .logo{
    height: 4.8vw;
  }
  .red_alliance_score{
    left: 6%;
  }
  .blue_alliance_score{
    right: 10%;
  }
}
.red_alliance_score{
  position: absolute;
  left: 11%;
  top: 45%;
  background-color: aliceblue;
  width: 6%;
  height: fit-content;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: abel;
  font-size: 3vw;
  font-weight: bold;
  border-radius: 1vw;
}

.blue_alliance_score{
  position: absolute;
  right: 5%;
  top: 45%;
  background-color: aliceblue;
  width: 6%;
  height: fit-content;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: abel;
  font-size: 3vw;
  font-weight: bold;
  border-radius: 1vw;
}

@media screen and (min-width: 1500px) {
  .red_alliance_score, .blue_alliance_score  {
    width: 100px;
    font-size: 2em;
  }
}

.info_panel_button {
  width: 50px;
  aspect-ratio: 1/1;
  position: absolute;
  background-color: transparent;
  top: 35px;
  right: -10px;
  transform: translate(-50%, -50%);
  border: 0px solid transparent;
}

.dropdown_panel {
  width: 15%;
  top: 75px;
  background-color: #DD7230;
  z-index: 1;
  position: fixed;
  right: 0;
  border-radius: 0 0 0 30px;
  transition: all 0.5s ease;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.panel_opened {
  width: 15%;
  top: 75px;
  background-color: #DD7230;
  z-index: 1;
  position: fixed;
  right: 0;
  border-radius: 0 0 0 30px;
  transition: all 0.5s ease;
  height: calc(16vw + 55px);
  opacity: 1;
  overflow: hidden;
}

.info_panel_img{
  transition: all 0.5s ease;
  transform: scaleY(-1);
}

.info_panel_img_opened{
  transition: all 0.5s ease;
}

.flexbox_dropdown{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.dropdown_item{
  display: flex;
  align-items: center;
}

.timer_toggle_button, .pro_toggle_button, .tooltips_toggle_button{
  width: 3vw;
  aspect-ratio: 1/1;
  border-radius: 1.2vw;
  border:0.15vw solid #0464cc;
  margin: 10px;
}

.label_dropdown{
  font-family: monospace;
  white-space: nowrap;
}

.credits_box{
  display: flex;
  align-items: center;
}
.credits_text{
  font-family: abel;
  width: 90%;
  left: 5%;
  text-align: center;
}

.red_backdrop{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  top: 75px;
  left: -20px;
  height: fit-content;
  position: absolute;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blue_backdrop{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  height: fit-content;
  top: 75px;
  right: -20px;
  position: absolute;
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backpanel_info_box_red{
  width: 33%;
  height: fit-content;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  position: absolute;
  border-radius: 10px;
}
.backpanel_info_box_blue{
  width: 30%;
  height: fit-content;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  position: absolute;
  border-radius: 10px;
}
.reset_red_backpanel_button, .reset_blue_backpanel_button{
  box-shadow: 0 0 5px orange,
  0 0 25px orange,
  0 0 50px orange,
  0 0 200px;
  border: 5px solid orange;
  border-radius: 10px;
  padding: 5px;
  transform: translate(-50%);
  left: 50%;
  position: absolute;
  transition: all 0.5s ease;
  font-family: abel;
  font-size: 1.7vw;
}
.reset_red_backpanel_button:hover, .reset_blue_backpanel_button:hover{
  box-shadow: 0 0 5px yellow,
  0 0 25px yellow,
  0 0 50px yellow,
  0 0 200px;
  border: 3px solid yellow;
  padding: 7px;
}
.total_mosaiacs_red, .total_pixels_red, .total_white_pixels_red, .total_green_pixels_red, .total_purple_pixels_red, .total_yellow_pixels_red,
.total_mosaiacs_blue, .total_pixels_blue, .total_white_pixels_blue, .total_green_pixels_blue, .total_purple_pixels_blue, .total_yellow_pixels_blue{
  margin: 10px;
  font-family: abel;
  font-size: 1.5vw;
  text-align: center;
  transform: translateY(70px);
}
.red_alliance{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  left: -20px;
  top: 950px;
  top: calc(75px + 55vw);
  position: absolute;
}
.blue_alliance{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  right: -20px;
  height: 1050px; 
  top: calc(75px + 55vw);
  position: absolute;
}
.red_alliance_header{
  font-family: abel;
  transform: translateY(-10px);
  left: 0;
  width: 73%;
  text-align: center;
  position: absolute;
  margin-top: 10px;
  font-size:3vw;
}
.blue_alliance_header{
  font-family: abel;
  transform: translateY(-10px);
  right: 0;
  width: 73%;
  text-align: center;
  position: absolute;
  margin-top: 10px;
  font-size:3vw;
}
.player_one{
  top: 370px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 45%;
  height: 650px; 
  position: absolute;
  border-radius: 10px;
  margin: 10px;
  margin-left:25px;
  display: flex;
  justify-content: center;
}
.player_two{
  top: 370px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 45%;
  left: 50%;
  height: 650px; 
  position: absolute;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
}
.player_three{
  top: 370px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 45%;
  height: 650px;  
  right:50%;
  position: absolute;
  justify-content: center;
  border-radius: 10px;
  margin: 10px;
}
.player_four{
  top: 370px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 45%;
  right: 0px;
  height: 650px; 
  position: absolute;
  
  border-radius: 10px;
  margin: 10px;
  margin-right: 25px;
}
.red_alliance_backstage_pixels_minus, .red_alliance_minor_penalties_minus, .red_alliance_major_penalties_minus, .blue_alliance_backstage_pixels_minus, .blue_alliance_minor_penalties_minus, .blue_alliance_major_penalties_minus{
  margin-left: 10px;
  margin-right: -13px;
  margin-top: 35px;
  width: 15%;
  height: 70px;
  border-radius: 50% 0px 0px 50%;
  border: 2px solid #0464cc;
  background-color:#f9812c;
  font-size: 150%;
  text-align: center;
  font-family: verdana;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.red_alliance_backstage_pixels_plus, .red_alliance_minor_penalties_plus, .red_alliance_major_penalties_plus ,.blue_alliance_backstage_pixels_plus, .blue_alliance_minor_penalties_plus, .blue_alliance_major_penalties_plus{
  width: 15%;
  height: 70px;
  border-radius: 0px 50% 50% 0px;
  margin-left: -13px;
  margin-top: 35px;
  border: 2px solid #0464cc;
  background-color:#f9812c;
  font-size: 150%;
  text-align: center;
  font-family: verdana;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.red_alliance_backstage_pixels_number, .red_alliance_minor_penalties_number, .red_alliance_major_penalties_number, .blue_alliance_backstage_pixels_number, .blue_alliance_minor_penalties_number, .blue_alliance_major_penalties_number{
  width: 25%;
  height: 66px;
  margin-top: 35px;
  position: relative;
  border: 2px solid #0464cc;
  background-color:#f9812c;
  outline: none;
  font-size: 150%;
  text-align: center;
  font-family: verdana;
  appearance: none;
  appearance: textfield;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.5),
  0 5px 10px rgba(0, 0, 0, 0.5);
}
.red_alliance_backstage_pixels_minus:hover,
.red_alliance_minor_penalties_minus:hover,
.red_alliance_major_penalties_minus:hover,
.blue_alliance_backstage_pixels_minus:hover,
.blue_alliance_minor_penalties_minus:hover,
.blue_alliance_major_penalties_minus:hover {
  box-shadow: -15px 0 0 3px #0464cc;
  background-color:#fe9346;
}
.red_alliance_backstage_pixels_plus:hover,
.red_alliance_minor_penalties_plus:hover,
.red_alliance_major_penalties_plus:hover,
.blue_alliance_backstage_pixels_plus:hover,
.blue_alliance_minor_penalties_plus:hover,
.blue_alliance_major_penalties_plus:hover {
  box-shadow: 15px 0 0 3px #0464cc;
  background-color:#fe9346;
}
.red_alliance_backstage_pixels_number:hover,
.red_alliance_backstage_pixels_number:focus,
.red_alliance_minor_penalties_number:hover,
.red_alliance_minor_penalties_number:focus,
.red_alliance_major_penalties_number:hover,
.red_alliance_major_penalties_number:focus,
.blue_alliance_backstage_pixels_number:hover,
.blue_alliance_backstage_pixels_number:focus,
.blue_alliance_minor_penalties_number:hover,
.blue_alliance_minor_penalties_number:focus,
.blue_alliance_major_penalties_number:hover,
.blue_alliance_major_penalties_number:focus {
    box-shadow: 0 -3px 0 #0464cc, 0 3px 0 #0464cc;
    background-color: #fe9346;
}
.blue_alliance_backstage_pixels, .blue_alliance_minor_penalties, .blue_alliance_major_penalties{
  display: flex;
  justify-content: center;
}
.red_alliance_backstage_pixels, .red_alliance_minor_penalties, .red_alliance_major_penalties{
  display: flex;
  justify-content: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
.backstage_pixels_header, .minor_penalties_header, .major_penalties_header{
  top: calc(150px + 55vw);
  width: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  font-family: abel;
}
.minor_penalties_header{
  top: calc(255px + 55vw);
}
.major_penalties_header{
  top: calc(360px + 55vw);
}
.tooltip_backstage_pixel_image{
  width: 1vw;
  aspect-ratio: 1/1;
  margin-top: -4%;
  margin-left: 1%;
  border: 0;
  background-color: 0;
}
.toolbox_backstage_pixel{
  transition: opacity 0.5s ease;
  position: absolute;
  left: 10vw;
  top: -12vw;
  z-index: 1;
  width: 20vw;
  height: 10vw;
  border-radius: 1vw;
  font-size: 0.85em;
  background-color: #f9812c;
  border: 0.18svw solid #0464cc;
  opacity: 0;
}
.tooltip_backstage_pixel_image:hover ~ .toolbox_backstage_pixel{
  opacity: 1;
}
.player_one_header, .player_two_header, .player_three_header, .player_four_header{
  font-family: abel;
  text-align: center;
  transform: translateY(-25px);
  font-size: 2vw;
}

.team_prop_header, .drone_zone_header, .endgame_park_header, .team_auto_spike, .team_auto_pixel, .team_auto_park{
  font-family: abel;
  text-align: center;
  font-size: 1.5vw;
  margin-top: 80px;
}

.player_one_prop, .player_two_prop, .player_three_prop, .player_four_prop {
  position: absolute;
  width: 100%;
  top: 40px;
}

.player_one_prop_no, .player_one_prop_yes, .player_two_prop_no, .player_two_prop_yes,
.player_three_prop_no, .player_three_prop_yes, .player_four_prop_no, .player_four_prop_yes {
  position: absolute;
  width: 40%;
  height: 70px;
  border: 3px solid #0464cc;
  background-color: #f9812c;
  font-size: 150%;
  text-align: center;
  font-family: verdana;
  font-size: 1.3vw;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.player_one_prop_no, .player_two_prop_no, .player_three_prop_no, .player_four_prop_no {
  left: 10%;
  border-radius: 50% 0px 0px 50%;
}

.player_one_prop_yes, .player_two_prop_yes, .player_three_prop_yes, .player_four_prop_yes {
  left: 50%;
  border-radius: 0px 50% 50% 0px;
}

.player_one_prop_yes:hover, .player_two_prop_yes:hover, .player_three_prop_yes:hover, .player_four_prop_yes:hover {
  box-shadow: 10px 0 0 #0464cc;
}
.player_one_prop_no:hover, .player_two_prop_no:hover, .player_three_prop_no:hover, .player_four_prop_no:hover{
  box-shadow: -10px 0 0 #0464cc;
}

.player_one_drone_zone, .player_two_drone_zone, .player_three_drone_zone, .player_four_drone_zone {
  position: absolute;
  top: 75px;
}

.player_one_drone_zone, .player_two_drone_zone, .player_three_drone_zone, .player_four_drone_zone {
  width: 100%;
  top: 130px;
}

.player_one_drone_zone_one, .player_one_drone_zone_two, .player_one_drone_zone_three, .player_one_drone_zone_none,
.player_two_drone_zone_one, .player_two_drone_zone_two, .player_two_drone_zone_three, .player_two_drone_zone_none,
.player_three_drone_zone_one, .player_three_drone_zone_two, .player_three_drone_zone_three, .player_three_drone_zone_none,
.player_four_drone_zone_one, .player_four_drone_zone_two, .player_four_drone_zone_three, .player_four_drone_zone_none {
  position: absolute;
  width: 20%;
  height: 70px;
  border: 3px solid #0464cc;
  background-color: #f9812c;
  font-size: 150%;
  text-align: center;
  font-family: verdana;
  font-size: 2vw;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.player_one_drone_zone_none, .player_two_drone_zone_none, .player_three_drone_zone_none, .player_four_drone_zone_none {
  border-radius: 50% 0px 0px 50%;
  left: 10%;
}

.player_one_drone_zone_one, .player_two_drone_zone_one, .player_three_drone_zone_one, .player_four_drone_zone_one {
  left: 30%;
}

.player_one_drone_zone_two, .player_two_drone_zone_two, .player_three_drone_zone_two, .player_four_drone_zone_two {
  left: 50%;
}

.player_one_drone_zone_three, .player_two_drone_zone_three, .player_three_drone_zone_three, .player_four_drone_zone_three {
  border-radius: 0px 50% 50% 0px;
  left: 70%;
}

.player_one_drone_zone_one:hover, .player_one_drone_zone_two:hover, .player_one_drone_zone_three:hover, .player_one_drone_zone_none:hover,
.player_two_drone_zone_one:hover, .player_two_drone_zone_two:hover, .player_two_drone_zone_three:hover, .player_two_drone_zone_none:hover,
.player_three_drone_zone_one:hover, .player_three_drone_zone_two:hover, .player_three_drone_zone_three:hover, .player_three_drone_zone_none:hover,
.player_four_drone_zone_one:hover, .player_four_drone_zone_two:hover, .player_four_drone_zone_three:hover, .player_four_drone_zone_none:hover {
  border-color: #0464cc;
}

.player_one_endgame_park, .player_two_endgame_park, .player_three_endgame_park, .player_four_endgame_park {
  position: absolute;
  width: 100%;
  top: 220px;
}

.player_one_park_none, .player_one_park_park, .player_one_park_suspend,
.player_two_park_none, .player_two_park_park, .player_two_park_suspend,
.player_three_park_none, .player_three_park_park, .player_three_park_suspend,
.player_four_park_none, .player_four_park_park, .player_four_park_suspend {
  position: absolute;
  width: 26.666666%;
  height: 70px;
  border: 3px solid #0464cc;
  background-color: #f9812c;
  font-size: 150%;
  text-align: center;
  font-family: abel;
  font-size: 1.5vw;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.player_one_park_none:hover, .player_one_park_park:hover, .player_one_park_suspend:hover,
.player_two_park_none:hover, .player_two_park_park:hover, .player_two_park_suspend:hover,
.player_three_park_none:hover, .player_three_park_park:hover, .player_three_park_suspend:hover,
.player_four_park_none:hover, .player_four_park_park:hover, .player_four_park_suspend:hover {
  border-color: #0464cc;
}

.player_one_park_none, .player_two_park_none, .player_three_park_none, .player_four_park_none {
  border-radius: 50% 0px 0px 50%;
  left: 10%;
}

.player_one_park_park, .player_two_park_park, .player_three_park_park, .player_four_park_park {
  left: 36.666666%;
}

.player_one_park_suspend, .player_two_park_suspend, .player_three_park_suspend, .player_four_park_suspend {
  border-radius: 0px 50% 50% 0px;
  left: 63.333333%;
}

.player_one_auto_spike, .player_two_auto_spike, .player_three_auto_spike, .player_four_auto_spike {
  position: absolute;
  width: 100%;
  top: 320px;
}

.player_one_auto_spike_no, .player_one_auto_spike_yes, .player_two_auto_spike_no, .player_two_auto_spike_yes,
.player_three_auto_spike_no, .player_three_auto_spike_yes, .player_four_auto_spike_no, .player_four_auto_spike_yes {
  position: absolute;
  width: 40%;
  height: 70px;
  border: 3px solid #0464cc;
  background-color: #f9812c;
  font-size: 150%;
  text-align: center;
  font-family: verdana;
  font-size: 1.3vw;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.player_one_auto_spike_no, .player_two_auto_spike_no, .player_three_auto_spike_no, .player_four_auto_spike_no {
  left: 10%;
  border-radius: 50% 0 0 50%;
}

.player_one_auto_spike_yes, .player_two_auto_spike_yes, .player_three_auto_spike_yes, .player_four_auto_spike_yes {
  left: 50%;
  border-radius: 0 50% 50% 0;
}

.player_one_auto_spike_no:hover, .player_one_auto_spike_yes:hover, .player_two_auto_spike_no:hover, .player_two_auto_spike_yes:hover,
.player_three_auto_spike_no:hover, .player_three_auto_spike_yes:hover, .player_four_auto_spike_no:hover, .player_four_auto_spike_yes:hover {
  border-color: #0464cc;
}

.player_one_auto_pixel, .player_two_auto_pixel, .player_three_auto_pixel, .player_four_auto_pixel {
  position: absolute;
  width: 100%;
  top: 420px;
}

.player_one_auto_pixel_no, .player_one_auto_pixel_yes, .player_two_auto_pixel_no, .player_two_auto_pixel_yes,
.player_three_auto_pixel_no, .player_three_auto_pixel_yes, .player_four_auto_pixel_no, .player_four_auto_pixel_yes {
  position: absolute;
  width: 40%;
  height: 70px;
  border: 3px solid #0464cc;
  background-color: #f9812c;
  font-size: 150%;
  text-align: center;
  font-family: verdana;
  font-size: 1.3vw;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.player_one_auto_pixel_no, .player_two_auto_pixel_no, .player_three_auto_pixel_no, .player_four_auto_pixel_no {
  left: 10%;
  border-radius: 50% 0 0 50%;
}

.player_one_auto_pixel_yes, .player_two_auto_pixel_yes, .player_three_auto_pixel_yes, .player_four_auto_pixel_yes {
  left: 50%;
  border-radius: 0 50% 50% 0;
}

.player_one_auto_pixel_no:hover, .player_one_auto_pixel_yes:hover, .player_two_auto_pixel_no:hover, .player_two_auto_pixel_yes:hover,
.player_three_auto_pixel_no:hover, .player_three_auto_pixel_yes:hover, .player_four_auto_pixel_no:hover, .player_four_auto_pixel_yes:hover {
  border-color: #0464cc;
}

.player_one_auto_park, .player_two_auto_park, .player_three_auto_park, .player_four_auto_park {
  position: absolute;
  width: 100%;
  top: 520px;
}

.player_one_auto_park_no, .player_one_auto_park_yes, .player_two_auto_park_no, .player_two_auto_park_yes,
.player_three_auto_park_no, .player_three_auto_park_yes, .player_four_auto_park_no, .player_four_auto_park_yes {
  position: absolute;
  width: 40%;
  height: 70px;
  border: 3px solid #0464cc;
  background-color: #f9812c;
  font-size: 150%;
  text-align: center;
  font-family: verdana;
  font-size: 1.3vw;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.player_one_auto_park_no, .player_two_auto_park_no, .player_three_auto_park_no, .player_four_auto_park_no {
  left: 10%;
  border-radius: 50% 0 0 50%;
}

.player_one_auto_park_yes, .player_two_auto_park_yes, .player_three_auto_park_yes, .player_four_auto_park_yes {
  left: 50%;
  border-radius: 0 50% 50% 0;
}

.player_one_auto_park_no:hover, .player_one_auto_park_yes:hover, .player_two_auto_park_no:hover, .player_two_auto_park_yes:hover,
.player_three_auto_park_no:hover, .player_three_auto_park_yes:hover, .player_four_auto_park_no:hover, .player_four_auto_park_yes:hover {
  border-color: #0464cc;
}

.hexagon_blue_top {
  width: 0;
  border-bottom: 30px solid #18042b;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hexagon_blue_center {
  width: 104px;
  height: 60px;
  background-color: #18042b;
}
.hexagon_blue_bottom {
  width: 0;
  border-top: 30px solid #18042b; 
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}