/* #f9812c oranage */
/* #0464cc blue */
* {
    margin: 0;
    padding: 0;
  }
  html, body {
    overflow-x: hidden;
  }

.top_bar{
  position: fixed;
  width: 100%;
  height: 75px;
  background-color: #0464cc;
  z-index: 1;
}
.logo{
  height: 60px;
  margin: 5px;
}
.player_one_input{
  width: 15%;
  height: 35px;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  top: 35px;
  left: 24%;
  transform: translate(-50%, -50%);
}
.player_two_input{
  width: 15%;
  height: 35px;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  top: 35px;
  left: 40%;
  transform: translate(-50%, -50%);
}
.vs_text{
  font-family: monospace;
  font-size: 3em;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.player_three_input{
  width: 15%;
  height: 35px;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  top: 35px;
  left: 60%;
  transform: translate(-50%, -50%);
}
.player_four_input{
  width: 15%;
  height: 35px;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  position: absolute;
  border-radius: 5px;
  top: 35px;
  left: 76%;
  transform: translate(-50%, -50%);
}
.red_backdrop{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  top: 75px;
  left: -20px;
  height: 800px;
  background-color: #D2DAFF; 
  position: absolute;
  border: 5px solid red;
  border-radius: 10px;
  margin: 10px;
}
.blue_backdrop{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  height: 800px;
  top: 75px;
  background-color: #D2DAFF; 
  right: -20px;
  position: absolute;
  border: 5px solid blue;
  border-radius: 10px;
  margin: 10px;
}
.team_one{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  left: -20px;
  top: 1000px;
  height: 800px;
  background-color: #D2DAFF; 
  position: absolute;
  border: 5px solid red;
  border-radius: 10px;
  margin: 10px;
}
.team_two{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  height: 800px; 
  right: -20px;
  top: 1000px;
  background-color: #D2DAFF;
  position: absolute;
  border: 5px solid blue;
  border-radius: 10px;
  margin: 10px;

}
.team_one_header, .team_two_header{
  font-family: monospace;
  text-align: center;
}
.player_one{
  top: 400px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  height: 400px; 
  left: -20px;
  background-color: #D2DAFF;
  position: absolute;
  border: 5px solid red;
  border-radius: 10px;
  margin: 10px;

}
.player_one_header, .player_two_header, .player_three_header, .player_four_header{
  font-family: monospace;
  text-align: center;
}
.player_two{
  top: 400px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  left: 50%;
  height: 400px;
  background-color: #D2DAFF;
  position: absolute;
  border: 5px solid red;
  border-radius: 10px;
  margin: 10px;
}
.player_three{
  top: 400px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  height: 400px; 
  left: -20px;
  background-color: #D2DAFF;
  position: absolute;
  border: 5px solid blue;
  border-radius: 10px;
  margin: 10px;
}
.player_four{
  top: 400px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 50%;
  left: 50%;
  height: 400px;
  background-color: #D2DAFF;
  position: absolute;
  border: 5px solid blue;
  border-radius: 10px;
  margin: 10px;
}
.team_one_backstage_pixels_minus{
  
}

.hexagon_top {
  width: 0;
  border-bottom: 30px solid #18042b;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
.hexagon_center {
  width: 104px;
  height: 60px;
  background-color: #18042b;
}
.hexagon_bottom {
  width: 0;
  border-top: 30px solid #18042b; 
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
